<div class="small-11 small-centered columns">
  <h2>Jewels</h2>
  <table id="jewels-datatable">
    <thead>
      <tr>
        <th>Source</th>
        <th>Citation</th>
        <th>Quote</th>
        <th>Comment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @jewels.each do |jewel| %>
        <% presenter = Zenzai::JewelPresenter.new(jewel) %>
        <tr>
          <td><%= presenter.source %></td>
          <td><%= presenter.trim_citation(20) %></td>
          <td><%= presenter.trim_quote(20) %></td>
          <td><%= presenter.trim_comment(20) %></td>
          <td><%= link_to "Edit", edit_jewel_path(presenter.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
